* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box; }
html{
scroll-behavior: smooth;
}
.footer {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
min-height: 60vh; }

.footer-bx {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
position: relative;
width: 100%;
background: #3586ff;
min-height: 20rem;
padding: 20px 50px; }
.footer-bx-content-imgBx {
display: grid;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center; }
.footer-bx-content-imgBx-img {
width: 5rem; }
.footer-bx-content-bx-title {
display: grid;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
text-align: center;
color: white;
text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6);
padding-top: 3rem;
font-size: 2rem;
font-family: 'Open Sans', sans-serif;;
margin: 0 1rem 2rem; }
.footer-bx-content-bx-contactBx {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.footer-bx-content-bx-contactBx-contacts {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin: 10px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
text-align: center; }
.footer-bx-content-bx-contactBx-contacts-p {
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
display: grid;
font-size: 1.3rem;
font-family: 'Open Sans', sans-serif; }
.footer-bx-content-bx-contactBx-contacts-icon {
list-style: none; }
.footer-bx-content-bx-desing {
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
text-align: center;
display: grid;
font-size: 1.3rem;
font-family: 'Dancing Script', cursive;
margin-top: 1rem;
border-top: 1px solid #60aadf;
margin-bottom: 4rem; }
.footer-bx-content-bx-desing-p{
margin-top: 1rem;
display: grid
}
.footer-bx-content-bx-desing-p-a {
color: #001ca3;
cursor: pointer;
text-decoration: none;
display: inline-block;
-webkit-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease; }
.footer-bx-content-bx-desing-p-a:hover {
-webkit-transform: rotate(4deg) scale(1.3);
    -ms-transform: rotate(4deg) scale(1.3);
        transform: rotate(4deg) scale(1.3);
color: white;
text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6); }
.footer-bx-waves_wave {
position: absolute;
top: -5rem;
left: 0;
width: 100%;
height: 100px;
background: url(../images/wave.png);
background-size: 1000px 100px; }
.footer-bx-waves_wave#wave1 {
z-index: 1000;
opacity: 1;
bottom: 0;
-webkit-animation: animateWave 4s linear infinite;
        animation: animateWave 4s linear infinite; }
.footer-bx-waves_wave#wave2 {
z-index: 999;
opacity: 0.5;
bottom: 10px;
-webkit-animation: animateWave_02 4s linear infinite;
        animation: animateWave_02 4s linear infinite; }
.footer-bx-waves_wave#wave3 {
z-index: 1000;
opacity: 0.2;
bottom: 15px;
-webkit-animation: animateWave 3s linear infinite;
        animation: animateWave 3s linear infinite; }
.footer-bx-waves_wave#wave4 {
z-index: 999;
opacity: 0.7;
bottom: 20px;
-webkit-animation: animateWave_02 3s linear infinite;
        animation: animateWave_02 3s linear infinite; }

.footer .fa {
color: white;
font-size: 2rem;
margin: 0 10px; }

@-webkit-keyframes animateWave {
0% {
background-position-x: 1000px; }
100% {
background-position-x: 0px; } }

@keyframes animateWave {
0% {
background-position-x: 1000px; }
100% {
background-position-x: 0px; } }

@-webkit-keyframes animateWave_02 {
0% {
background-position-x: 0px; }
100% {
background-position-x: 1000px; } }

@keyframes animateWave_02 {
0% {
background-position-x: 0px; }
100% {
background-position-x: 1000px; } }
/* Menú*/
.navigation{
position: fixed;
top: 20px;
right: 20px;
width: 120px;
height: 60px;
background: #fff;
-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
z-index: 4000;
-webkit-transition: height 0.5s, width 0.5s;
-o-transition: height 0.5s, width 0.5s;
transition: height 0.5s, width 0.5s;
-webkit-transition-delay: 0s, 0.75s;
     -o-transition-delay: 0s, 0.75s;
        transition-delay: 0s, 0.75s;
overflow: hidden;
}
.navigation.active{
width: 300px;
height: 400px;
-webkit-transition: width 0.5s, height 0.5s;
-o-transition: width 0.5s, height 0.5s;
transition: width 0.5s, height 0.5s;
-webkit-transition-delay: 0s, 0.75s;
     -o-transition-delay: 0s, 0.75s;
        transition-delay: 0s, 0.75s;
}
.navigation .userBx{
position: relative;
width: 60px;
height: 60px;
background: #fff;
overflow: hidden;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
-webkit-transition-delay: 0.5s;
     -o-transition-delay: 0.5s;
        transition-delay: 0.5s;
}
.navigation.active .userBx{
width: calc(100% - 60px);
-webkit-transition-delay: 0s;
     -o-transition-delay: 0s;
        transition-delay: 0s;
}
.navigation .userBx .titlemenu{
white-space: nowrap; /*esto hace que el nombre salga del contenedor padre*/
color: #555;
font-size: 1.5em;
margin: 0 24px;
font-family: 'Satisfy', cursive;
}
.navigation .userBx .imgBx{
position: relative;
min-width: 60px;
height: 60px;
overflow: hidden;
background: #fff;
border-radius: 50%;
border: 10px solid #fff;
}
.navigation .userBx .imgBx .img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
-o-object-fit: cover;
   object-fit: cover;
}
.navigation .menuToggle{
width: 60px;
height: 60px;
cursor: pointer;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.navigation .menuToggle::before{  /*Raya de arriba*/
content: '';
position: absolute;
width: 32px;
height: 2px;
background: #555;
-webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
        transform: translateY(-10px);
-webkit-box-shadow: 0 10px #555;
        box-shadow: 0 10px #555;
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
.navigation .menuToggle::after{ /*Raya de abajo*/
content: '';
position: absolute;
width: 32px;
height: 2px;
background: #555;
-webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
        transform: translateY(10px);
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
.navigation.active .menuToggle::before{ /*efecto Raya de arriba*/
-webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
        transform: translateY(0px) rotate(45deg);
-webkit-box-shadow: 0 0px #555;
        box-shadow: 0 0px #555;
}
.navigation.active .menuToggle::after{ /*efecto Raya de abajo*/
-webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
        transform: translateY(0px) rotate(-45deg);
}
.list-gastronomy{
list-style: none;
text-decoration: none;
padding-left: 2rem;
}
.a-gastronomy{
text-decoration: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-family: 'Open Sans', sans-serif;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
gap: 10px;
font-weight: 600;
color: #555;
}
.a-gastronomy:hover{
color: rgb(243, 17, 17);
}
.a-gastronomy:hover .icon-g{
color: rgb(0, 0, 0);
}
.menu{
position: absolute;
width: 100%;
height: calc(100% - 60px);
margin-top: 60px;
padding: 0px 20px;
border-top: 1px solid rgba(0,0,0,0.1);
}
.menu .list{
list-style: none;
}
.menu .list .link:hover{
color: #4e65ff ;
}
.menu .list .link{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-family: 'Open Sans', sans-serif;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
gap: 10px;
margin: 8px 0;
font-size: 1.2em;
font-weight: 700;
text-decoration: none;
color: #555;
}
.menu .list .link ion-icon{
font-size: 1.5em;
}
.menu .list .link:hover ion-icon{
color: rgb(0, 0, 0);
}


/*Gallery*/
.gallery{
padding: 2rem;
}
.gallery-title{
display: grid;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color: #fb5757;
text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6);
padding-top: 4rem;
font-size: 3rem;
font-family: 'Satisfy', cursive;
margin-bottom: 2rem;
}
.gallery-bx{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
grid-auto-flow: dense;
grid-auto-rows: minmax(200px,auto);
gap: 20px;
margin-bottom: 4rem;
}
.gallery .gallery-card{
overflow: hidden;
border-radius: 10px 10px 10px 10px;
}

.gallery .gallery-card .card{
width: 100%;
height: 15rem;
-o-object-fit: cover;
   object-fit: cover;
-webkit-transition: -webkit-transform 0.3s ease-in-out;
transition: -webkit-transform 0.3s ease-in-out;
-o-transition: transform 0.3s ease-in-out;
transition: transform 0.3s ease-in-out;
transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.gallery .gallery-card .card:hover{
-webkit-filter: opacity(0.9);
        filter: opacity(0.9);
-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
}
@media(min-width:600px){
.gallery .wide{
grid-column: span 2;
}
}