* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  80% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  80% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes moveInright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  80% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  80% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes moveIntop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  80% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveIntop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  80% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

.header {
  height: 37em;
  display: grid;
  grid-template-rows: 28rem repeat(auto-fit, minmax(4rem, 1fr));
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.1), rgba(112, 40, 40, 0.3)), url(../../img/10.jpg);
  background-size: cover;
  /*para centrar la imagen*/
  background-position: top; }

.header-logo {
  height: 5.5rem;
  position: absolute;
  top: 4rem;
  left: 4rem;
  transition: all .2s; }
  .header-logo:hover {
    transform: translateY(-3px);
    box-shadow: 0px -8px 9px 4px rgba(20, 20, 20, 0.4); }

.heading-primary {
  display: grid;
  text-align: center;
  align-items: center;
  row-gap: 2rem; }
  .heading-primary-main {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    letter-spacing: 0.4rem;
    color: #fa3c3c;
    text-shadow: 2px 2px 6px #D2DB16;
    padding-top: 4rem;
    animation-name: moveInLeft;
    animation-duration: 5s; }
  .heading-primary-sub {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-shadow: 2px 2px 6px #D2DB16;
    animation-name: moveInright;
    animation-duration: 5s; }

.waves {
  display: grid;
  align-items: end; }

.description {
  display: grid;
  background-color: #ececec;
  height: auto;
  padding-bottom: 8rem;
  box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.2); }
  .description-title {
    display: grid;
    justify-content: center;
    color: #fb5757;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6);
    padding-top: 6rem;
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    margin-bottom: 2rem; }
  .description-descriptionbx {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    background-color: #ececec;
    gap: 2rem;
    padding: 0 2rem; }
    .description-descriptionbx-card {
      display: grid;
      grid-template-rows: 3.5rem 1fr;
      padding: 1rem;
      place-self: center;
      width: 18rem;
      background-color: #fff6f6;
      height: 28rem;
      transition: all .2s;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
      .description-descriptionbx-card:hover {
        transform: translateY(-3px);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        background: white; }
      .description-descriptionbx-card_img {
        width: 4rem;
        place-self: end center; }
      .description-descriptionbx-card_title {
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        font-size: 2rem;
        color: #fb5757; }
        .description-descriptionbx-card_title-paragraph {
          font-size: 17px;
          font-family: 'Open Sans', sans-serif;
          text-align: justify;
          color: black; }
          .description-descriptionbx-card_title-paragraph-values {
            font-size: 17px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            color: black; }

.comments {
  display: grid;
  background-color: #ececec;
  height: auto;
  padding-bottom: 4rem;
  box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.2); }
  .comments-title {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fb5757;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6);
    padding-top: 6rem;
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    text-align: center; }
  .comments-commentsbx {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin: 40px 0; }
  .comments .card {
    display: grid;
    place-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
    .comments .card-imgbx_img-1 {
      height: 25rem; }
    .comments .card-imgbx_img-2 {
      height: 33rem; }
    .comments .card-imgbx_img-3 {
      height: 25rem; }
    .comments .card-content {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      bottom: -27rem;
      width: 100%;
      height: 26rem;
      z-index: 10;
      grid-template-columns: 1fr;
      backdrop-filter: blur(6px);
      box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.2);
      transition: 0.5s; }
      .comments .card-content-bx_name {
        color: #fb5757;
        font-size: 1.6rem;
        text-align: center;
        line-height: 20px;
        margin: 20px 0 15px;
        transition: 2.3s;
        opacity: 0;
        transform: translateY(-20px); }
        .comments .card-content-bx_name-occupation {
          color: #fb5757;
          font-size: 18px;
          transition: 6s;
          opacity: 0;
          transform: translateY(-20px); }
      .comments .card-content-bx_description {
        padding: 0 16px;
        font-size: 1.1rem;
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); }
  .comments .card:hover .card-content {
    bottom: 0px; }
  .comments .card:hover .card-content .card-content-bx .card-content-bx_name {
    opacity: 1;
    transform: translateY(0px); }
  .comments .card:hover .card-content .card-content-bx .card-content-bx_name .card-content-bx_name-occupation {
    opacity: 1;
    transform: translateY(0px);
    color: #ebfafa; }

.location {
  display: grid;
  height: auto;
  padding-bottom: 8rem;
  box-shadow: 0px -8px 12px -8px rgba(0, 0, 0, 0.75) inset; }
  .location-title {
    display: grid;
    justify-content: center;
    color: #fb5757;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6);
    padding-top: 6rem;
    font-size: 3rem;
    font-family: 'Satisfy', cursive; }
  .location-locationbx {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    gap: 2rem; }
    .location-locationbx-bridgeImg {
      display: grid;
      place-self: center start; }
    .location-locationbx-mapbx {
      display: grid;
      align-items: center;
      width: 90%;
      place-self: center;
      transition: all .2s;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
      .location-locationbx-mapbx:hover {
        transform: translateY(-3px);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.icons {
  display: grid;
  box-sizing: border-box;
  height: auto; }
  .icons-bx {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
    gap: 2rem; }
    .icons-bx_img {
      display: grid;
      place-self: center end; }
  .icons-title {
    display: grid;
    justify-content: center;
    color: #fb5757;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6);
    padding-top: 6rem;
    font-size: 3rem;
    font-family: 'Satisfy', cursive; }

.icon-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 11rem));
  justify-content: center;
  align-items: center;
  gap: 1rem; }

.icon-ul__li {
  list-style: none;
  width: 3.75rem;
  height: 3.75rem;
  margin: 0 3.5rem;
  transform: rotate(-30deg) skew(25deg); }

.icon-ul__li--span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem !important; }

.icon-ul .icon-ul__li:hover .icon-ul__li--span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1); }

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1; }

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8; }

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6; }

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4; }

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(1) {
  transform: translate(0, 0);
  opacity: .2; }

.icon-ul .icon-ul__li:nth-child(1) .icon-ul__li--span {
  background: #3b5999; }

.icon-ul .icon-ul__li:nth-child(2) .icon-ul__li--span {
  background: #25d366; }

.icon-ul .icon-ul__li:nth-child(3) .icon-ul__li--span {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); }

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 60vh; }
  .footer-bx {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 20rem;
    padding: 20px 50px; }
    .footer-bx-content-imgBx {
      display: grid;
      justify-content: center;
      align-items: center; }
      .footer-bx-content-imgBx-img {
        width: 5rem; }
    .footer-bx-content-bx-title {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6);
      padding-top: 3rem;
      font-size: 2rem;
      font-family: 'Patrick Hand', cursive;
      margin-bottom: 2rem; }
    .footer-bx-content-bx-contactBx {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .footer-bx-content-bx-contactBx-contacts {
        display: flex;
        justify-content: center;
        margin: 10px;
        align-items: center;
        text-align: center; }
        .footer-bx-content-bx-contactBx-contacts-p {
          justify-content: center;
          display: grid;
          font-size: 1.3rem;
          font-family: 'Patrick Hand', cursive; }
        .footer-bx-content-bx-contactBx-contacts-icon {
          list-style: none; }
    .footer-bx-content-bx-desing {
      justify-content: center;
      display: grid;
      font-size: 1.3rem;
      font-family: 'Dancing Script', cursive;
      margin-top: 1rem;
      border-top: 1px solid #60aadf;
      margin-bottom: 4rem; }
      .footer-bx-content-bx-desing-p-a {
        color: #001ca3;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        transition: all .4s ease; }
      .footer-bx-content-bx-desing-p-a:hover {
        transform: rotate(4deg) scale(1.3);
        color: white;
        text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.6); }
    .footer-bx-waves_wave {
      position: absolute;
      top: -5rem;
      left: 0;
      width: 100%;
      height: 100px;
      background: url(../../img/wave.png);
      background-size: 1000px 100px; }
      .footer-bx-waves_wave#wave1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWave 4s linear infinite; }
      .footer-bx-waves_wave#wave2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animateWave_02 4s linear infinite; }
      .footer-bx-waves_wave#wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWave 3s linear infinite; }
      .footer-bx-waves_wave#wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animateWave_02 3s linear infinite; }

.footer .fa {
  color: white;
  font-size: 2rem;
  margin: 0 10px; }

@keyframes animateWave {
  0% {
    background-position-x: 1000px; }
  100% {
    background-position-x: 0px; } }

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px; }
  100% {
    background-position-x: 1000px; } }

/* Menú*/
.navigation{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  z-index: 4000;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
}
.navigation.active{
  width: 300px;
  height: 400px;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
}
.navigation .userBx{
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.navigation.active .userBx{
  width: calc(100% - 60px);
  transition-delay: 0s;
}
.navigation .userBx .titlemenu{
  white-space: nowrap; /*esto hace que el nombre salga del contenedor padre*/
  color: #555;
  font-size: 1.5em;
  margin: 0 24px;
}
.navigation .userBx .imgBx{
  position: relative;
  min-width: 60px;
  height: 60px;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
  border: 10px solid #fff;
}
.navigation .userBx .imgBx .img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigation .menuToggle{
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .menuToggle::before{  /*Raya de arriba*/
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background: #555;
  transform: translateY(-10px);
  box-shadow: 0 10px #555;
  transition: .5s;
}
.navigation .menuToggle::after{ /*Raya de abajo*/
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background: #555;
  transform: translateY(10px);
  transition: .5s;
}
.navigation.active .menuToggle::before{ /*efecto Raya de arriba*/
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0px #555;
}
.navigation.active .menuToggle::after{ /*efecto Raya de abajo*/
  transform: translateY(0px) rotate(-45deg);
}
.menu{
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.menu .list{
  list-style: none;
}
.menu .list .link:hover{
  color: #4e65ff ;
}
.menu .list .link{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
  font-size: 1.2em;
  text-decoration: none;
  color: #555;
}
.menu .list .link ion-icon{
  font-size: 1.5em;
}
.menu .list .link:hover ion-icon{
  color: rgb(0, 0, 0);
}