.icons {
    display: grid;
    box-sizing: border-box;
    height: auto;

    &-bx{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
        gap: 2rem;

        &_img{
            display: grid;
            place-self: center end;
        }
    }

    &-title{
        display: grid;
        justify-content: center;
        color:#fb5757;
        text-shadow: 3px 0px 2px rgba(0,0,0,0.6);
        padding-top: 6rem;
        font-size: 3rem;
        font-family: 'Satisfy', cursive;
    }

}

.icon-ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 11rem));
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon-ul__li {
    list-style: none;
    width: 3.75rem;
    height: 3.75rem;
    margin: 0 3.5rem;
    transform: rotate(-30deg) skew(25deg);
}

.icon-ul__li--span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000; */
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem !important;

}
.icon-ul .icon-ul__li:hover .icon-ul__li--span{
    box-shadow: -1px 1px 1px rgba(0,0,0,.1);
}

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

.icon-ul .icon-ul__li:hover .icon-ul__li--span:nth-child(1) {
    transform: translate(0,0);
    opacity: .2;
}

.icon-ul .icon-ul__li:nth-child(1) .icon-ul__li--span {
    background: #3b5999;
}

.icon-ul .icon-ul__li:nth-child(2) .icon-ul__li--span {
    background:#25d366;
}

.icon-ul .icon-ul__li:nth-child(3) .icon-ul__li--span {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
